/*  General */
h1, h2{    
    color: #02ad99;
}

body {
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}

header{
    /* background-color: rgb(233, 218, 6);
    border-bottom: 1px solid rgb(233, 218, 6) ; */
    background-color: #62ad98;
    border-bottom: 1px solid #62ad98 ;
}

.row {
    margin: 0;
}

.container-fluid {
    padding: 0;
}

.btn-primary{
    background-color: #62ad98;
    border: 2px solid #02ad99;
}

.btn-primary:hover {
    background-color: #02ad99;
    border-color: #02ad99;
}

.msg {
    background-color: #D4EDDA;
    color: #155724;
    border: 1px solid #C3E6CB;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}
/* Navbar */

#navbar img {
    width: 140px;
    margin-left: 20px;
}

#navbar {
    justify-content: space-between;
    margin-right: 15px;
    
}

#navbar a{ 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   
    font-size: 16px;
    color: #FFFF;
}

#navbar a:hover{    
    color: #F1B502;
}

/* search Container */

#search-container {
    background-image: url("../img/search-container.jpg");
    backface-visibility: hidden;   
    background-size: cover;
    background-position: center;
    height: 350px;
    padding: 50px;
    text-align: center;
}

#search-container h1 {
    color: #FFF;
    margin-bottom: 30px;
    font-weight: 800;
}

#search-container form {
    width: 50%;
    margin: 0 auto;
    
}
/* Events List */
#events-container {
    padding: 50px;
}

#events-container h2 {
    margin-bottom: 10px;
}


#events-container .subtitle {
    color: #005;
    margin-bottom: 30px;
}


#cards-container {
    display: flex;
}

#events-container .card {
    flex: 1 1 24%;
    max-width: 25%;
    border-radius: 10px;
    padding: 0;
    margin: .5%;
}

#events-container img {
    width: 100%;
    max-height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card .card-date {
    font-size: 12px;
    color: #CCC;
}

.card .card-title{
    color: #212121;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.card-participants {
    font-size: 14px;
    color: #757575;
}

/* Evebt Create Page */

#event-create-container { 
    padding: 30px;
}

#event-create-container label {
    font-weight: bold;
}

#event-create-container input,
#event-create-container select,
#event-create-container textarea {
    font-size: 12px;
}

/* Event Page*/
#image-container,
#info-container {
    margin-top: 30px;
}

#image-container img {
    border-radius: 10px;
}

#info-container h1 {
    font-size: 36px;
    font-weight: 700;
}

#info-container p {
    margin: 0;
    font-size: 14px;
    display: flex;
}

#info-container h3,
#description-container h3 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

#info-container ion-icon {
    font-size: 20px;
    color: #02ad99;
    margin-right: 5px;
}

#info-container #event-submit {
    margin: 20px 0;
}

#items-list {
    list-style: none;
    padding-left: 0;
}

#items-list li {
    display: flex;
}

/* Footer */

footer {
    /* background-color: rgb(233, 218, 6); */
    text-align: center;
    background-color: #62ad98;
    padding: 30px;
    color: #FFF;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin-bottom: 0;
}